<<<<<<< HEAD
.submit_btn {
    width: 220px;
    height: 80px;
    border-radius: 25px;
    background: #d1ac60;
    color: #4D4249;
    font-family: 'Tsukimi Rounded', sans-serif;
    font-size: 30px;
    margin-bottom: 40px;
}
=======
.btnSend {
        width: 17rem;
        height: 6rem;
        border-radius: 25px;
        background-color: #d1ac60;
        color: #4D4249;
        font-family: 'Tsukimi Rounded', sans-serif;
        font-size: 1.6em;
        margin-bottom: 4rem;
    }
>>>>>>> 28aeaa48629483fd84d757c87db0dd87333f2a16
