.login_form {
    background: #4B4447;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
}

.login_title {
    color: white;
}

.send_btn {
    width: 17rem;
    height: 6rem;
    border-radius: 25px;
    background-color: #d1ac60;
    color: black;
    font-size: 1.6em;
    margin-bottom: 4rem;
}

@media screen and (min-width: 1000px) {
    .login_form {
        width: 40vw
    }
}