.form_login {
    background: #4B4447;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
}

.login_title {
    font-family: 'Tsukimi Rounded', sans-serif;
    color:#59c9c5
}