.login_form {
  background: #4b4447;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: center;
}

.login_title {
  color: white;
}

.inputs {
  border: none;
  border-bottom: solid 0.5rem white;
  background: #4b4447;
  height: 5rem;
  margin-bottom: 10vh;
  font-size: 2.6rem;
  color: white;
  width: 80%;
}

.inputs::placeholder {
  font-size: 2.6rem;
  color: white;
}

.send_btn {
  width: 19rem;
  height: 6rem;
  border-radius: 15px;
  background-color: #d1ac60;
  color: black;
  font-size: 1.6em;
  margin-bottom: 4rem;
}

@media screen and (min-width: 1000px) {
  .login_form {
    width: 40vw;
  }
}
