
:root {
  /* max-width: 1280px; */
  /* text-align: center; */
  font-size: 62.5%;  
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: #3F3636;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  justify-content: center;
  width: 100vw;
  /* min-width: 320px; */
  min-height: 100vh;
}

body, input, button {
  font-family:'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

h1{
  padding: 2rem;
}